<footer class="footer footer-fixed">
				<div class="footer-top two-columns-on-tablet">
					<div class="row flex">
						<div class="column width-3">
							<div class="widget">
								<h4 class="widget-title weight-light">FundIt</h4>
                                <ul class="social-list list-horizontal  clear-float-on-mobile">
                                <li><a href="#"><span class="icon-twitter-with-circle medium"></span></a></li>
								<li><a href="#"><span class="icon-facebook-with-circle medium"></span></a></li>
								<li><a href="#"><span class="icon-youtube-with-circle medium"></span></a></li>
                                <li><a href="#"><span class="icon-instagram-with-circle medium"></span></a></li>
                                </ul>
							</div>
						</div>
						<div class="column width-3">
							<div class="widget">
								<h4 class="widget-title weight-light">Fundraising</h4>
								<ul class="list-group large">
									<li>
										<a href="#">Our New Los Angeles Office </a>
										<span class="post-info"><span class="post-date">27 Jul 2014</span></span>
									</li>
									<li>
										<a href="#">Tutorial - Hidden Gems of Sublime</a>
										<span class="post-info"><span class="post-date">02 Jun 2014</span></span>
									</li>
									<li>
										<a href="#">Design Rules - Getting Back to Basics</a>
										<span class="post-info"><span class="post-date">15 May 2014</span></span>
									</li>
									<li>
										<a href="#">New Team Member - Jason Adams</a>
										<span class="post-info"><span class="post-date">15 May 2014</span></span>
									</li>
								</ul>
							</div>
						</div>
						<div class="column width-3">
							<div class="widget">
								<h4 class="widget-title">About</h4>
								<ul class="list-group large">
									<li>
										<a href="#">February 2016</a>
									</li>
									<li>
										<a href="#">December 2015</a>
									</li>
									<li>
										<a href="#">November 2014</a>
									</li>
									<li>
										<a href="#">April 2014</a>
									</li>
									<li>
										<a href="#">February 2014</a>
									</li>
									<li>
										<a href="#">January 2014</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="column width-3">
							<div class="widget">
								<h4 class="widget-title">Help & Contact</h4>
								<p class="mb-20">Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
								<div class="signup-form-container">
									<form class="signup-form" action="php/subscribe.php" method="post" novalidate>
										<div class="row">
											<div class="column width-12 left">
												<div class="field-wrapper">
													<input type="email" name="email" class="form-email form-element no-padding-left no-padding-right" placeholder="Email address*" tabindex="2" required>
												</div>
											</div>
											<div class="column width-12">
												<input type="submit" value="Signup" class="form-submit button pill bkg-charcoal-light bkg-hover-theme color-white color-hover-white">
											</div>
										</div>
										<input type="text" name="honeypot" class="form-honeypot form-element">
									</form>
									<div class="form-response show">*No spamming here.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="row flex">
						<div class="column width-6 offset-3 center">
							<div class="widget">
                                <h4 class="widget-title"> A Project of <a href="http://codejunkie.pk"><img src="public/images/cj.png" alt="CodeJunkie"></a></h4>
								<a>Privacy Policy</a> | <a>Terms of use</a> | <a>Cookie Policy</a>
								
							</div>
						</div>
					</div>
				</div>
			</footer>