
			<!-- Header -->
			<header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="100" data-compact-threshold="100">
				<div class="header-inner">
					<div class="row nav-bar">
						<div class="column width-12 nav-bar-inner">
							<div class="logo">
								<div class="logo-inner">
									<a href="index.html"><img src="public/images/logo-dark.png" alt="Fundit" /></a>
									<a href="index.html"><img src="public/images/logo.png" alt="Warhol Logo" /></a>
								</div>
							</div>
							<nav class="navigation nav-block secondary-navigation nav-right">
								<ul>
									<li>
										<!-- Search -->
										<a href="#search-modal" data-content="inline" data-toolbar="" data-aux-classes="tml-search-modal" data-modal-mode data-modal-width="1000" data-lightbox-animation="fade" data-nav-exit="false" class="lightbox-link nav-icon">
											<span class="icon-magnifying-glass"></span>
										</a>
									</li>
									<li class="aux-navigation hide">
										<!-- Aux Navigation -->
										<a href="#" class="navigation-show side-nav-show nav-icon">
											<span class="icon-menu"></span>
										</a>
									</li>
                                    
								</ul>
							</nav>
                            
							<nav class="navigation nav-block primary-navigation nav-right">
								<ul>
									<li >
										<a href="index.html">Help Others</a>
										
									</li>
									<li>
										<a href="about-style-one.html">How it works</a>
										
									</li>
									<li>
										<a href="blog.html">Login / Signup</a>
										
									</li>
									<li>
                                        <a href="#">
                                            Donate Now!
										</a>
                                    </li>
									
											
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!-- Header End -->
