<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="reveal">
            <div class="side-navigation-scroll-pane">
                <div class="side-navigation-inner">
                    <div class="side-navigation-header">
                        <div class="navigation-hide side-nav-hide">
                            <a href="#">
                                <span class="icon-cancel medium"></span>
                            </a>
                        </div>
                    </div>
                    <nav class="side-navigation">
                        <ul>
                            <li>
                                <a href="#home" data-offset="-60" class="scroll-link">Help Others</a>
                            </li>
                            <li>
                                <a href="#services" data-offset="-60" class="scroll-link">How It Works</a>
                            </li>
                            
                            <li>
                                <a href="elements-accordions.html">LogIn/SignUp</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="side-navigation">
                        <div class="custom-content">
                            <hr class="border-white mt-0 opacity-02">
                            <h3 class="widget-title color-grey">Got Questions</h3>
                            <p>Have questions about how we work. Just give us a call, we'll be happy to answer any questions you may have</p>
                            <p class="lead weight-bold color-grey">+92 335 6978866</p>
                        </div>
                    </div>
                    <div class="side-navigation-footer">
                        <p class="copyright no-margin-bottom">&copy; 2016 CodeJunkie.</p>
                    </div>
                </div>
            </div>
        </aside>